<h1>Show Room</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @room.name %>
  </li>
  <li>
    <strong>UUID:</strong>
    <%= @room.uuid %>
  </li>
  <li>
    <strong>Activity:</strong>
    <%= @room.activity %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.room_path(@conn, :edit, @room) %></span>
<span><%= link "Back", to: Routes.room_path(@conn, :index) %></span>
